<div class="container-fluid">
  <h1>Registration Form</h1>
  <form #userform=ngForm>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="fname" ngModel>
    </div>
    
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lname" ngModel>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>

    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="uname" ngModel>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="pwd" ngModel>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" name="pwd1" ngModel>
    </div>
    <button class="btn btn-primary" type="submit"> Register</button>
    <button class="btn btn-danger" type="reset"> Clear </button>
<!-- you can see te objects entering in the form down here -->
    <!-- {{ userform.value|json}} -->
  </form>


</div>







<!-- <router-outlet></router-outlet> -->